

*{
   
}



ul {
    margin :auto;
    line-height: 1.5;
    color: inherit;
    background-attachment: fixed;
    text-align: inherit;

}

a{
    color: inherit;
    margin :auto
}

.header-box{
    width: 100%;
    display: inline-flex;
    position: relative;
    padding: 20px 0;
    margin: 20px;
    justify-content: center;
    top:0;
    overflow: hidden;
    background-color: aliceblue;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(red, green, blue, alpha);
}
.button-links-header{
    display: inline-flex;
    justify-content: center;
    color: yellowgreen;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

.logo-header{
    position: relative;
    display: grid;
    align-items: flex-start;
    padding: 30px;
    margin: 20px;
  width: 70px;
  height: 70px;
}

#logo-header-img{

    size: 40px;
}